.camperDetails {
  padding-top: 48px;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  margin-bottom: 8px;
}

.rewLocWrap {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.locWrap {
  display: flex;

  gap: 4px;
}

.starIcon {
  margin-right: 4px;
}

.mapIcon {
  fill: #101828;
  margin-top: 2px;
}

.rewSpan {
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.price {
  font-weight: 600;
  font-size: 24px;

  line-height: 1.33;
  margin-bottom: 28px;
}

.gallery {
  display: flex;
  gap: 48px;
  margin-bottom: 28px;
}

.galleryImage {
  border-radius: 10px;
  width: 292px;
  object-fit: contain;
}

.description {
  font-size: 16px;

  color: #475467;
}

/* Модалка */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  position: relative;
  max-width: 80%;
  max-height: 80%;
}

.modalImage {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  z-index: 1100;
}
