/* .catalog {
  padding-top: 48px;
}

.catalogTtitle {
  font-size: 16px;
  line-height: 1.5;
  color: #6c717b;
  margin-bottom: 8px;
}

.label {
  margin-bottom: 8px;
}

.input {
 
  padding: 16px 48px;
  border-radius: 12px;
  border-color: transparent;
  width: 360px;
  background-color: #f7f7f7;
}



.inputWrap {
  position: relative;
  display: flex;
  flex-direction: column;
}

.inputIcon {
  position: absolute;
  fill: #6c717b;
  left: 1.6%;
  top: 10%;
  transform: translateY(50%);
} */

.catalog {
  padding-top: 48px;
}

.wrapper {
  display: flex;
  gap: 40px;
}

/* ===== ФІЛЬТРИ ===== */
.filters {
  width: 360px;
  /* padding: 20px; */
  /* background: #f8f8f8; */
  /* border-radius: 10px; */
}

.label {
  font-size: 16px;
  line-height: 1.5;
  display: block;
  margin-bottom: 8px;
  color: #6c717b;
}

.inputWrap {
  position: relative;
}

.input {
  padding: 16px 48px;
  border-radius: 12px;
  border-color: transparent;
  width: 360px;
  background-color: #f7f7f7;
  margin-bottom: 40px;
}

.inputIcon {
  position: absolute;
  fill: #6c717b;
  left: 6%;
  top: 30%;
  transform: translateY(50%);
}

.mainFilterTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
}

.filterGroup {
  /* position: relative; */
  margin-top: 32px;
}

.filterTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
  border-bottom: 1px solid #dadde1;
  padding-bottom: 24px;
  margin-bottom: 24px;
}

.filterOptions {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.filterBtn {
  display: grid;
  align-items: center;
  /* justify-content: center; */
  justify-items: center;
  flex-direction: column;
  border: 1px solid #dadde1;
  border-radius: 12px;
  width: 112px;
  height: 96px;
  transition: border 0.3s ease;
}

.filterBtn.active {
  border: #e44848;
}

.full {
  gap: 10px;
}

.searchBtn {
  margin-top: 40px;
  border-radius: 200px;
  padding: 16px 60px;
  width: 166px;
  height: 56px;
  background-color: #e44848;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #fff;
  border-color: transparent;
  transition: background-color 0.3s ease;
}

.searchBtn:hover {
  background-color: #d84343;
}
