.catalog {
  padding-top: 48px;
  padding-bottom: 52px;
}

.wrapper {
  display: flex;
  gap: 40px;
}

/* ===== ФІЛЬТРИ ===== */
.filters {
  width: 360px;
  /* padding: 20px; */
  /* background: #f8f8f8; */
  /* border-radius: 10px; */
}

.label {
  font-size: 16px;
  line-height: 1.5;
  display: block;
  margin-bottom: 8px;
  color: #6c717b;
}

.inputWrap {
  position: relative;
}

.input {
  padding: 16px 48px;
  border-radius: 12px;
  border-color: transparent;
  width: 360px;
  background-color: #f7f7f7;
  margin-bottom: 40px;
  outline: none;
}

.field:-webkit-autofill,
.field:-webkit-autofill:hover,
.field:-webkit-autofill:focus,
.field:-webkit-autofill:active {
  -webkit-text-fill-color: #000 !important;
  -webkit-box-shadow: 0 0 0px 1000px #f7f7f7 inset !important;
}

.inputIcon {
  position: absolute;
  fill: #6c717b;
  left: 6%;
  top: 30%;
  transform: translateY(50%);
  transition: fill 0.3s ease;
}

.inputIcon.active {
  fill: #101828;
}

.mainFilterTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
}

.filterGroup {
  /* position: relative; */
  margin-top: 32px;
}

.filterTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
  border-bottom: 1px solid #dadde1;
  padding-bottom: 24px;
  margin-bottom: 24px;
}

.filterOptions {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.filterBtn {
  display: grid;
  align-items: center;

  justify-items: center;
  flex-direction: column;
  border: 1px solid #dadde1;

  border-radius: 12px;
  width: 112px;
  height: 96px;

  transition: border-color 0.5s ease;
}

.filterBtn.active {
  border-color: #e44848;
}
.searchBtn {
  margin-top: 40px;
  border-radius: 200px;
  padding: 16px 60px;
  width: 166px;
  height: 56px;
  background-color: #e44848;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #fff;
  border-color: transparent;
  transition: background-color 0.3s ease;
}

.searchBtn:hover {
  background-color: #d84343;
}

.loadMoreBtn {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #101828;
  border: 1px solid #dadde1;
  border-radius: 200px;
  padding: 16px 32px;
  width: 145px;
  height: 56px;
  transition: border 0.3s ease;
}

.loadMoreBtn:hover {
  border: #d84343;
}

.catalogList {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
