.header {
  display: flex;
  align-items: baseline;
  background-color: #f7f7f7;
  border-bottom: 1px solid #f2f4f7;
  padding: 24px 64px;
  width: 1440px;
}

.link {
  display: inline-block;
  text-decoration: none;
  /* padding: 12px; */
  font-weight: 700;
  color: #2a363b;
  margin-right: 32px;
  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;
  text-align: center;
  color: #101828;
}

.link.active {
  color: #e84a5f;
}

.nav {
  margin-left: 450px;
}
