.home {
  background-image: url("../../img/home/home.jpg");
  height: 696px;
  width: 1440px;
  background-size: contain;
  place-content: center;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi) {
  .home {
    background-image: url("../../img/home/home_2x.jpg");
  }
}

.homeTitle {
  font-weight: 600;
  font-size: 48px;

  line-height: 0.67;
  color: #f7f7f7;
  margin-bottom: 16px;
}

.homeText {
  font-weight: 600;
  font-size: 24px;

  line-height: 1.33;
  color: #f7f7f7;
  margin-bottom: 40px;
}

.homeLink {
  border-radius: 200px;
  padding: 22px 58px;

  background-color: #e44848;
  font-weight: 500;

  letter-spacing: -0.01em;
  color: #fff;
}

.homeLink:hover {
  background-color: #d84343;
  color: #fff;
}
