.formTitle {
  font-weight: 600;
  font-size: 20px;

  line-height: 1.2;
  margin-bottom: 8px;
}

.formText {
  color: #6c717b;
  margin-bottom: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.field {
  color: #6c717b;
  border-radius: 12px;
  padding: 18px 337px 18px 18px;
  width: 527px;
  height: 50px;
  background-color: #f7f7f7;
  border: none;
  outline: none;
}

.field:-webkit-autofill,
.field:-webkit-autofill:hover,
.field:-webkit-autofill:focus,
.field:-webkit-autofill:active {
  -webkit-text-fill-color: #000 !important;
  -webkit-box-shadow: 0 0 0px 1000px #f7f7f7 inset !important;
}

.commentField {
  border-radius: 10px;
  padding: 18px 308px 76px 18px;
  width: 527px;
  height: 118px;
  background-color: #f7f7f7;
  border: none;
  margin-bottom: 10px;
  outline: none;
  resize: none;
}

.subBtn {
  display: block;
  border-radius: 200px;
  padding: 16px 60px;
  width: 166px;
  height: 56px;
  background-color: #e44848;
  letter-spacing: -0.01em;
  color: #fff;
  font-weight: 500;
  margin: 0 auto;
}
