/* .catalogList {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
}

.camperCard {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  background: white;
}

.camperImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.camperInfo {
  padding: 10px;
}

.showMore {
  padding: 8px 12px;
  background: #e44848;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} */

.camperCard {
  border: 1px solid #dadde1;
  border-radius: 20px;
  padding: 24px;
  width: 888px;
  height: 368px;
  display: flex;
  gap: 24px;
}

.camperImage {
  border-radius: 10px;
  width: 292px;
  height: 320px;
  object-fit: cover;
  object-position: center;
}

.showMore {
  background: #007bff;
  color: white;
}

.iconFavorite {
  fill: #101828;
}

.iconFavoriteActive {
  fill: #f00;
  stroke: #f00;
}

.favBtn {
  background: none;
  overflow: hidden;
  outline: none;
  border: none;
}

.favBtn:focus,
.favBtn:active {
  outline: none;
}

.titleWrap {
  display: flex;

  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.priceFavWrap {
  display: flex;
  align-items: center;
  gap: 10px;
}

.imgWrap {
  display: flex;
  gap: 24px;
}

.campNameTitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;

  min-width: auto;
}

.campPrice {
  font-weight: 600;
  font-size: 24px;

  line-height: 1.33;
}

.camperInfo {
  width: 100%;
}

.starIcon {
  margin-right: 4px;
}

.mapIcon {
  fill: #101828;
  margin-top: 2px;
}

.rewLocWrap {
  display: flex;
  gap: 16px;
}

.locWrap {
  display: flex;

  gap: 4px;
}

.rewSpan {
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
